<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>JSP08_MVC02</display-name>
  
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>/WEB-INF/applicationContext.xml</param-value>
  </context-param>
  
  <servlet>
  	<servlet-name>kh</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  		<init-param>
  			<param-name>kh</param-name>
  			<param-value>/WEB-INF/kh-servlet.xml</param-value>	<!-- 경로를 지정해주려면 이렇게 써주면된다.(같은 경로지만 보여주기위해 쓴 것) -->
  		</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>kh</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <filter>
  	<filter-name>encoding</filter-name>
  	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class> <!-- UTF-8 등으로 변환해주는 얘  -->
  		<init-param>
  			<param-name>encoding</param-name>
  			<param-value>UTF-8</param-value>
  		</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>encoding</filter-name>
  	<url-pattern>/*</url-pattern>	<!-- 해당 application에 대한 모든 요청을 변경 /* -->
  </filter-mapping>
  
</web-app>



