<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="emp">
	<select id="selectList" resultType="empDto">
		SELECT EMPNO, ENAME, SAL, DEPTNO FROM EMP
	</select>
	
	<select id="selectOne" parameterType="int" resultType="empDto">
		SELECT EMPNO, ENAME, SAL, DEPTNO FROM EMP WHERE EMPNO = #{empno}
	</select>

	<insert id="insert" parameterType="empDto">
		INSERT INTO EMP (EMPNO, ENAME, SAL, DEPTNO) VALUES (#{empno}, #{ename}, #{sal}, #{deptno})
	</insert>
	
	<update id="update" parameterType="empDto">
		UPDATE EMP SET ENAME = #{ename}, SAL = #{sal}, DEPTNO = #{deptno} WHERE EMPNO = #{empno}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE EMP WHERE EMPNO = #{empno}
	</delete>

</mapper>



