<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="NickName" class="com.test01.NickName"></bean>

	<bean id="myNick" class="com.test01.MyNickName">
		<property name="nickName" ref="NickName"></property>
	</bean>

</beans>
