<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="emp" class="com.test04.Emp">
		<constructor-arg value="유저1"></constructor-arg>
		<constructor-arg value="5000"></constructor-arg>
	</bean>
	
	<bean id="emp2" class="com.test04.Emp">
		<constructor-arg value="유저2"></constructor-arg>
		<constructor-arg value="30000"></constructor-arg>
	</bean>
	
	<bean id="user1" class="com.test04.Developer">
		<constructor-arg ref="emp"></constructor-arg>
		<constructor-arg value="개발"></constructor-arg>
	</bean>
	
	<bean id="user2" class="com.test04.Engineer">
		<constructor-arg ref="emp2"></constructor-arg>
		<constructor-arg value="기술"></constructor-arg>
	</bean>

</beans>
